.Outer {
  display: flex;
}

.Card {
  margin: 10px auto;
  padding: 10px;
  width: 80vmax;
  background: white;
}

.Info {
  width: 100%;
}

.Image {
  width: 210px;
}

.Product {
  text-align: left;
}

.Product h4 {
  color: gray;
  font-size: 1.2em;
}

.Product p {
  color: gray;
  font-size: 1rem;
}

.Price {
  text-align: right;
}

.Price h3 {
  color: #d5a770;
}

.Delete {
  padding: 10px;
  text-align: right;
}
