.Total-outer {
  display: flex;
}

.Total-inner {
  margin: 10px auto;
  padding: 30px;
  width: 80vmax;
  background: #333;
}

.Total-Info {
  width: 100%;
}

.Total-price {
  color: #d5a770;
}

.Total-button {
  text-align: right;
}

.Total-button button {
  color: white;
  background-color: #d5a770;
  border: 0;
  border-radius: 5px;
  padding: 1rem;
}
