<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<h1>Sign Up</h1> <hr>

<form th:action="@{/user/signup}" method="POST">
    email : <input type="text" name="email" > <br>
    password : <input type="password" name="upwd"> <br>
    name : <input type="text" name="name" > <br>

    <button type="submit" name="signup" class="form-submit" value="Register">Join</button>
</form> <br>

<a href="/user/login_page">I'm already a member</a>
</body>
</html>